# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 10

In [2]:
num_1

10

#### 2. asign any number of type float to the variable "num_2"

In [3]:
num_2 = 20.2

In [4]:
num_2

20.2

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [5]:
total = num_1 + num_2

In [6]:
total

30.2

#### 4. check the type of variable "total"

In [7]:
type(total)

float

#### 5. assign variable "height" with your height

In [8]:
height = 170

In [9]:
height

170

#### 6. asign variable "mass" with your weight

In [10]:
mass = 70

In [11]:
mass

70

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [12]:
bmi = mass / (height*height)

In [13]:
bmi

0.002422145328719723

#### 8. print value from "bmi" variable

In [14]:
print(bmi)

0.002422145328719723

# String

#### 1. Create variable "name" with your first name

In [15]:
name = 'Riley'

In [16]:
name

'Riley'

#### 2. Create variable "surname" with your surname

In [17]:
surname = 'Fournier'

In [18]:
surname

'Fournier'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [23]:
name_surname = name + ' ' + surname

In [24]:
name_surname

'Riley Fournier'

#### 4. print variable "name_surname"

In [25]:
print(name_surname)

Riley Fournier

#### 5. print first letter from variable "name_surname"

In [26]:
print(name_surname[0])

R

#### 6. print your name (without empty space) from variable "name_surname"

In [28]:
print(name_surname[:5])

Riley

#### 7. print your surname 10x (use variable surname)

In [32]:
print((surname + ' ') * 10)

Fournier Fournier Fournier Fournier Fournier Fournier Fournier Fournier Fournier Fournier

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [33]:
greeting = 'Hello, my name is ' + name_surname

#### 9. print "message" variable

In [34]:
print(greeting)

Hello, my name is Riley Fournier

#### String Functions
#### ====================

#### 10. Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

Given: `str1 = "JhonDipPeta"` <br>
Output: `Dip`

In [36]:
str1 = 'JhonDipPeta'

In [37]:
print(str1[4:7])

Dip

#### 11. Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

Given:
```
s1 = "Ault"
s2 = "Kelly"
```

Output: `AuKellylt`

In [38]:
s1 = 'Ault'

In [39]:
s2 = 'Kelly'

In [45]:
print(s1[:2] + s2 + s1[2:])

AuKellylt

## List

#### 1. create empty list with name "empty_list"

In [46]:
empty_list = []

In [47]:
print(empty_list)

[]

#### 2. create list "heights" with five random values

In [48]:
heights = [10, 20, 30, 40, 50]

#### 3. print heights

In [50]:
print(heights)

[10, 20, 30, 40, 50]

#### 4. print type of variable "heights"

In [51]:
print(type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [52]:
print(heights[1])

20

#### 6. assign last three values from "heights" to another list "heights_2"

In [53]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [54]:
print(heights_2)

[30, 40, 50]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [55]:
list_all = heights + heights_2

#### 9. print "list_all"

In [56]:
print(list_all)

[10, 20, 30, 40, 50, 30, 40, 50]

#### 10. print the type of "list_all"

In [57]:
print(type(list_all))

<class 'list'>

## Tuple

#### 1. create empty tuple with name `empty_tuple`

In [59]:
empty_tuple = ()

In [60]:
empty_tuple

()

#### 2. try to asign your name on the first position to the variable `empty_tuple` and check the type of the error

In [61]:
empty_tuple[0] = name

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

Tuples are defined using parentheses and they are immutable

## Dictionary

#### 1. create empty dictionary with name `empty_dict`

In [62]:
empty_dict = {}

#### 2. create `heights_dict` dictionary with your name as a key and height as a value

In [63]:
heights_dict = {
    name: height
}

In [64]:
print(heights_dict)

{'Riley': 170}

#### 3. asign another name and height to `heights_dict`

In [65]:
heights_dict['rj'] = 169

#### 4. print `heights_dict` dictionary

In [66]:
print(heights_dict)

{'Riley': 170, 'rj': 169}

#### 5. print your height from the `heights_dict` dictionary

In [67]:
print(heights_dict['Riley'])

170

#### 6. print all values from `heights_dict` dictionary

In [69]:
print(heights_dict.values())

dict_values([170, 169])

In [71]:
list(heights_dict.values())

[170, 169]

#### 7. print all keys from `heights_dict` dictionary

In [70]:
print(heights_dict.keys())

dict_keys(['Riley', 'rj'])

In [72]:
list(heights_dict.values())

[170, 169]