# For Loops
Definite Iteration

In [ ]:
for <var> in <iterable>:
    <statement(s)>

In [2]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

## Iterables
An object that can be used in iteration

iter() returns an iterator, TypeError if not iterable:

In [3]:
iter('foobar')

In [4]:
iter(['foo', 'bar', 'baz'])

In [5]:
iter(42)

TypeError: 'int' object is not iterable

***

## Iterators
An iterator is essentially a value producer that yields successive values from its associated iterable object.  
The built-in function next() is used to obtain the next value from in iterator:

In [6]:
a = ['foo', 'bar', 'baz']

itr = iter(a)
itr

In [7]:
next(itr)

'foo'

In [8]:
next(itr)

'bar'

In [9]:
next(itr)

'baz'

What happens when the iterator runs out of values?:

In [10]:
next(itr)

StopIteration:

***

If you want to grab all the values from an iterator at once, you can use the built-in list() function:

In [11]:
a = ['foo', 'bar', 'baz']
itr = iter(a)
list(itr)

['foo', 'bar', 'baz']

***

The built-in tuple() and set() functions return a tuple and a set, respectively, from all the values an iterator yields:

In [12]:
a = ['foo', 'bar', 'baz']

itr = iter(a)
tuple(itr)

('foo', 'bar', 'baz')

In [13]:
itr = iter(a)
set(itr)

{'bar', 'baz', 'foo'}

## The Guts of the Python for Loop
- iteration: the process of looping through the objects or items in a collection
- iterable: an object (or the adjective used to describe an object) that can be iterated over
- iterator: the object that produces successive items or values from its associated iterable
- iter(): the built-in function used to obtain an iterator from an iterable

## Iterating Through a Dictionary

In [14]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [15]:
for k in d:
    print(d[k])

1
2
3

In [16]:
for v in d.values():
    print(v)

1
2
3

***

In [17]:
i, j = (1, 2)
print(i, j)

1 2

In [18]:
for i, j in [(1, 2), (3, 4), (5, 6)]:
    print(i, j)

1 2
3 4
5 6

***

In [19]:
d = {'foo': 1, 'bar': 2, 'baz': 3}

d.items()

dict_items([('foo', 1), ('bar', 2), ('baz', 3)])

***

The Pythonic way to iterate through a dictionary, accessing both the keys and values, looks like this:

In [20]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k, v in d.items():
    print('k =', k, ', v =', v)

k = foo , v = 1
k = bar , v = 2
k = baz , v = 3

## The range() Function

In [21]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [22]:
x = range(5)
x

range(0, 5)

In [23]:
type(x)

range

In [24]:
for n in x:
    print(n)

0
1
2
3
4

In [25]:
list(x)

[0, 1, 2, 3, 4]

In [26]:
tuple(x)

(0, 1, 2, 3, 4)

range(\<begin>, \<end>, \<stride>) returns an iterable that yields integers starting with \<begin>, up to but not including \<end>. If specified, \<stride> indicates an amount to skip between values.

In [27]:
list(range(5, 20, 3))

[5, 8, 11, 14, 17]

In [29]:
list(range(5, 10, 1))

[5, 6, 7, 8, 9]

In [30]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [31]:
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [32]:
list(range(5, -5))

[]

In [33]:
list(range(5, -5, -1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

## Altering for loop Behavior

The *break* and *continue* statements:

In [34]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [35]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    
    print(i)

foo
qux

***

The *else* Clause:

In [36]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [37]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')

foo